@tailwind base;
@tailwind components;
@tailwind utilities;

[data-carousel-slide-to][aria-current="true"]:not(:disabled) {
   @apply -translate-y-3;
   @apply [&>*:nth-child(2)]:brightness-50;
   @apply [&>*]:block;
   @apply [&>*:nth-child(1)]:-translate-y-3;

  }
  body{
      @apply bg-[#f3f3f5];
  }
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&family=Raleway:wght@200&display=swap');

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
}
#MobileMenu::-webkit-scrollbar {
    display: none;
}
#FaqsSection::-webkit-scrollbar {
    display: none;
}
/* #mainDivHomaPage::-webkit-scrollbar {
    display: none;
} */
/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

/* Optional: Hide the scroll bar track */
.no-scrollbar::-webkit-scrollbar-track {
  display: none !important;
}

/* Carousel Control buttons */
@media (max-width: 1023px) {
    button[data-testid="carousel-left-control"] {
      display: none;
    }
    button[data-testid="carousel-right-control"] {
      display: none;
    }
  }